@import url("//at.alicdn.com/t/font_1037015_3u26273e4yw.css");
@import url("./flex.css");
@import url("./common.css");

/* 圆形 */

.br {
    border-radius: 50%;
}

.por {
    position: relative;
}

/* 浮动 */

.fl {
    float: left
}

.fr {
    float: right
}

.bgfff {
    background: #fff;
}

.bsbb {
    box-sizing: border-box;
}

.text-right {
    text-align: right;
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

/* 字超出省略 */

.ell1 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ell2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.icon-down {
    transform: rotate(90deg);
}

.icon-left {
    transform: rotate(180deg);
}

.icon-left-fs {
    font-size: 28px;
    font-weight: 600;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #999999;
    text-decoration: none;
}

.vhtml-fs {
    font-size: 28px;
}

/* // 重置富文本中的图片样式 */
.vhtml img {
    width: 100% !important;
}

/* //   查看更多的悬浮按钮 */
.look-more-view .img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 82px;
    height: 82px;
}

.look-more-view {
    position: fixed;
    right: 32px;
    bottom: 280px;
    overflow: hidden;
    width: 76px;
    height: 76px;
}

/* // 返回 */
.back {
    position: fixed;
    right: 32px;
    bottom: 180px;
    overflow: hidden;
    width: 72px;
    height: 72px;
    background: #5581ff;
    border-radius: 50%;
    color: #fff;
}

.touch-none {
    touch-action: none;
}

/* 解决 模板插入 ios 点击无效 */
.ios-cursor {
    cursor: pointer;
}

/* 顶部tabbar */
#tabbar-view {
    width: 100%;
    height: 88px;
    background: #fff;
    position: fixed;
    left: auto;
    right: auto;
    z-index: 9;
    top: 0;
    border-bottom: 1px solid #c7c7c7;
}

.tabbar {
    width: 100%;
    height: 88px;
    background: #fff;
    position: fixed;
    left: auto;
    right: auto;
    z-index: 9;
    top: 0;
}

.tabbar-for {
    width: 100%;
    height: 88px;
    background: #fff;
    cursor: pointer;
}

.tabbar-item {
    height: 88px;
    line-height: 88px;
    font-size: 30px;
    color: #474747;
    letter-spacing: 0;
    text-align: center;
}

.tabbar-item-on {
    color: #3d6fff;
    position: relative;
}

.tabbar-item-on::before {
    content: " ";
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 54px;
    height: 6px;
    background: #3d6fff;
    border-radius: 3px;
}

.tabbar-long {
    display: -webkit-box;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    float: left;
    overflow-y: hidden;
    height: 88px;
    background: #fff;
    position: fixed;
    left: auto;
    right: auto;
    z-index: 9;
    top: 0;
}

.tabbar-for-long {
    width: 174px;
    height: 88px;
    background: #fff;
    cursor: pointer;
}
