@charset "utf-8";
/*--------------------功能: 重设浏览器默认样式 START--------------------*/
a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt,
em, embed,
fieldset, figcaption, figure, font, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd,
keygen,
label, legend, li,
meter,
nav,
object, ol, output,
p, pre, progress,
q,
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tt,
u, ul,
var { background: transparent; border: 0 none; margin: 0;padding: 0; border: 0;outline:0;vertical-align: top; -webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing: antialiased;}
blockquote, q { quotes: none;}
table, table td { padding: 0; border: none; border-collapse: collapse;}
img {border: 0;}
select {white-space: nowrap}
caption {text-align: left;}
embed {vertical-align: top;}
div, ul, li, ol, dl, dd, p { word-wrap: break-word;}
ul, li, ol, dl, dd{ list-style-type: none;}
input, textarea, select { font-family: inherit; outline: none; font-size: inherit; font-weight: inherit; padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight:normal;}
body { text-align: left;color: #828282;overflow-x: hidden;}
html,body{ font:10px/1.5 Microsoft YaHei,\5b8b\4f53, Arial, Verdana; width: 100%;}
a{text-decoration: none;white-space:nowrap; color: #828282;}
input,input[type="button"], input[type="submit"], input[type="reset"],input[type="number"],select{-webkit-appearance: none; }
.fn-clear:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.fn-clear{zoom:1;}
body .fn-hide{display:none;}
.fn-left,.fn-right{display:inline;}
.fn-left{float:left;}
.fn-right{float:right;}
.clear {clear:both;}
.hide{display:none;}
input::-webkit-inner-spin-button { -webkit-appearance: none;}
input::-webkit-outer-spin-button { -webkit-appearance: none;}
img{width:100%;}



/* ---------- 公用样式 ---------- */
.cube {-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);-webkit-backface-visibility: hidden; backface-visibility: hidden; perspective:1000; -webkit-perspective: 1000;}
/*超出省略号*/
.shengl {white-space: nowrap; text-overflow: ellipsis; overflow: hidden;}
/*主色值*/
.fc01{color:#10a9ec;}
/*范围值*/
.w10{width: 10%;}.w20{width: 20%;}.w30{width: 30%;}.w40{width: 40%;}.w50{width: 50%;}.w60{width: 60%;}.w70{width: 70%;}.w80{width: 80%;}.w90{width: 90%;}.w100{width: 100%;}
/*float*/
.fl{float: left; display: block;}
.fr{float: right; display: block;}
/*box*/
.box{display: flex;display: -ms-flexbox;display: -webkit-flex;display: box;display: -ms-box;display: -webkit-box;}
.inline-box{display: -webkit-inline-box; display: inline-box;}
.flex01{ -webkit-box-flex: 1;-moz-box-flex: 1; -webkit-flex: 1;-ms-flex: 1;flex: 1;}
.flex02{ -webkit-box-flex: 2;-moz-box-flex: 2; -webkit-flex: 2;-ms-flex: 2;flex: 2;}
.box-vertical{-webkit-box-orient: vertical; -moz-box-orient: vertical; box-orient: vertical; }
.box-center{-webkit-box-align: center;-ms-box-align: center; box-align: center;  -webkit-box-pack:center; -moz-box-pack:center;box-pack:center;}
.box-left{-webkit-box-align: center;-ms-box-align: center; box-align: center;  -webkit-box-pack:start; -moz-box-pack:start;box-pack:start;}
.box-right{-webkit-box-align: center;-ms-box-align: center; box-align: center;  -webkit-box-pack:end; -moz-box-pack:end;box-pack:end;}
.box-vertical-left{-webkit-box-align: start;-ms-box-align: start; box-align: start;  -webkit-box-pack:center; -moz-box-pack:center;box-pack:center;}
.box-vertical-right{-webkit-box-align: end;-ms-box-align: end; box-align: end;  -webkit-box-pack:center; -moz-box-pack:center;box-pack:center;}
.box-shengl{word-break:break-all;-webkit-line-clamp:1;-webkit-box-orient:vertical;overflow:hidden;}
/*alert*/
#_alert_bg,#_confirm_bg{width:100%;height:100%;position:fixed;top:0;left:0;background-color:rgba(255,255,255,0);z-index:99999;}
#_alert_content,#_confirm_content{width: 320px;padding: 40px;border-radius: 8px;margin:0 auto;color:#fff;text-align:center;font-size: 28px;position:relative;top: 40%;background-color:rgba(47,34,33,.9);display:none;}
/*fixed*/
.fixed{position: fixed;width:100%;height:100%;top: 0;left: 0;}
.fixed_full{position: fixed;  width:100%; height:100%; left: 0; top:0;}
/*loading*/
.loading{position:fixed;top:0;left:0;width:100%;height:100%;background:#941e1e;z-index:9999;}
.loading .progress{position:absolute;color: #fff;font-size: 20px;width: 100%;top: 50%;left:0;margin-top: 49px;text-align:center;}
.loader{position: relative;width: 150px;height: 120px;left: 50%;/* margin-left: -75px; */margin-top: -50px;top: 50%;margin: -70px 0 0 -75px;}
.loaderbar{position: absolute;bottom: 0;width: 20px;height: 80%;background: #fff;-webkit-transform-origin: center bottom;transform-origin: center bottom;box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);}
.loaderbar:nth-child(1){left: 0px; -webkit-transform: scale(1, 0.2); transform: scale(1, 0.2); -webkit-animation: barUp1 4s infinite; animation: barUp1 4s infinite;}
.loaderbar:nth-child(2){left: 30px;-webkit-transform: scale(1, 0.4);transform: scale(1, 0.4);-webkit-animation: barUp2 4s infinite;animation: barUp2 4s infinite;}
.loaderbar:nth-child(3){left: 60px;-webkit-transform: scale(1, 0.6);transform: scale(1, 0.6);-webkit-animation: barUp3 4s infinite;animation: barUp3 4s infinite;}
.loaderbar:nth-child(4){left: 90px;-webkit-transform: scale(1, 0.8);transform: scale(1, 0.8);-webkit-animation: barUp4 4s infinite;animation: barUp4 4s infinite;}
.loaderbar:nth-child(5){left: 120px;-webkit-transform: scale(1, 1);transform: scale(1, 1);-webkit-animation: barUp5 4s infinite;animation: barUp5 4s infinite;}
.loaderball{position: absolute;bottom: 20px;left: 0;width: 20px;height: 20px;background: #fff;border-radius: 50%;-webkit-animation: ball 4s infinite;animation: ball 4s infinite;}
@-webkit-keyframes ball{0%{-webkit-transform: translate(0, 0); transform: translate(0, 0);} 5%{-webkit-transform: translate(16px, -28px); transform: translate(16px, -28px);} 10%{-webkit-transform: translate(30px, -20px); transform: translate(30px, -20px);} 17%{-webkit-transform: translate(46px, -48px); transform: translate(46px, -48px);} 20%{-webkit-transform: translate(60px, -40px); transform: translate(60px, -40px);} 27%{-webkit-transform: translate(76px, -68px); transform: translate(76px, -68px);} 30%{-webkit-transform: translate(90px, -60px); transform: translate(90px, -60px);} 37%{-webkit-transform: translate(106px, -88px); transform: translate(106px, -88px);} 40%{-webkit-transform: translate(120px, -80px); transform: translate(120px, -80px);} 50%{-webkit-transform: translate(120px, 0); transform: translate(120px, 0);} 57%{-webkit-transform: translate(106px, -28px); transform: translate(106px, -28px);} 60%{-webkit-transform: translate(90px, -20px); transform: translate(90px, -20px);} 67%{-webkit-transform: translate(74px, -48px); transform: translate(74px, -48px);} 70%{-webkit-transform: translate(60px, -40px); transform: translate(60px, -40px);} 77%{-webkit-transform: translate(44px, -68px); transform: translate(44px, -68px);} 80%{-webkit-transform: translate(30px, -60px); transform: translate(30px, -60px);} 87%{-webkit-transform: translate(14px, -88px); transform: translate(14px, -88px);} 90%{-webkit-transform: translate(0, -80px); transform: translate(0, -80px);} 100%{-webkit-transform: translate(0, 0); transform: translate(0, 0);}}
@keyframes ball{0%{-webkit-transform: translate(0, 0); transform: translate(0, 0);} 5%{-webkit-transform: translate(16px, -28px); transform: translate(16px, -28px);} 10%{-webkit-transform: translate(30px, -20px); transform: translate(30px, -20px);} 17%{-webkit-transform: translate(46px, -48px); transform: translate(46px, -48px);} 20%{-webkit-transform: translate(60px, -40px); transform: translate(60px, -40px);} 27%{-webkit-transform: translate(76px, -68px); transform: translate(76px, -68px);} 30%{-webkit-transform: translate(90px, -60px); transform: translate(90px, -60px);} 37%{-webkit-transform: translate(106px, -88px); transform: translate(106px, -88px);} 40%{-webkit-transform: translate(120px, -80px); transform: translate(120px, -80px);} 50%{-webkit-transform: translate(120px, 0); transform: translate(120px, 0);} 57%{-webkit-transform: translate(106px, -28px); transform: translate(106px, -28px);} 60%{-webkit-transform: translate(90px, -20px); transform: translate(90px, -20px);} 67%{-webkit-transform: translate(74px, -48px); transform: translate(74px, -48px);} 70%{-webkit-transform: translate(60px, -40px); transform: translate(60px, -40px);} 77%{-webkit-transform: translate(44px, -68px); transform: translate(44px, -68px);} 80%{-webkit-transform: translate(30px, -60px); transform: translate(30px, -60px);} 87%{-webkit-transform: translate(14px, -88px); transform: translate(14px, -88px);} 90%{-webkit-transform: translate(0, -80px); transform: translate(0, -80px);} 100%{-webkit-transform: translate(0, 0); transform: translate(0, 0);}}
@-webkit-keyframes barUp1{0%{-webkit-transform: scale(1, 0.2); transform: scale(1, 0.2);} 40%{-webkit-transform: scale(1, 0.2); transform: scale(1, 0.2);} 50%{-webkit-transform: scale(1, 1); transform: scale(1, 1);} 90%{-webkit-transform: scale(1, 1); transform: scale(1, 1);} 100%{-webkit-transform: scale(1, 0.2); transform: scale(1, 0.2);}}
@keyframes barUp1{0%{-webkit-transform: scale(1, 0.2); transform: scale(1, 0.2);} 40%{-webkit-transform: scale(1, 0.2); transform: scale(1, 0.2);} 50%{-webkit-transform: scale(1, 1); transform: scale(1, 1);} 90%{-webkit-transform: scale(1, 1); transform: scale(1, 1);} 100%{-webkit-transform: scale(1, 0.2); transform: scale(1, 0.2);}}
@-webkit-keyframes barUp2{0%{-webkit-transform: scale(1, 0.4); transform: scale(1, 0.4);} 40%{-webkit-transform: scale(1, 0.4); transform: scale(1, 0.4);} 50%{-webkit-transform: scale(1, 0.8); transform: scale(1, 0.8);} 90%{-webkit-transform: scale(1, 0.8); transform: scale(1, 0.8);} 100%{-webkit-transform: scale(1, 0.4); transform: scale(1, 0.4);}}
@keyframes barUp2{0%{-webkit-transform: scale(1, 0.4); transform: scale(1, 0.4);} 40%{-webkit-transform: scale(1, 0.4); transform: scale(1, 0.4);} 50%{-webkit-transform: scale(1, 0.8); transform: scale(1, 0.8);} 90%{-webkit-transform: scale(1, 0.8); transform: scale(1, 0.8);} 100%{-webkit-transform: scale(1, 0.4); transform: scale(1, 0.4);}}
@-webkit-keyframes barUp3{0%{-webkit-transform: scale(1, 0.6); transform: scale(1, 0.6);} 100%{-webkit-transform: scale(1, 0.6); transform: scale(1, 0.6);}}
@keyframes barUp3{0%{-webkit-transform: scale(1, 0.6); transform: scale(1, 0.6);} 100%{-webkit-transform: scale(1, 0.6); transform: scale(1, 0.6);}}
@-webkit-keyframes barUp4{0%{-webkit-transform: scale(1, 0.8); transform: scale(1, 0.8);} 40%{-webkit-transform: scale(1, 0.8); transform: scale(1, 0.8);} 50%{-webkit-transform: scale(1, 0.4); transform: scale(1, 0.4);} 90%{-webkit-transform: scale(1, 0.4); transform: scale(1, 0.4);} 100%{-webkit-transform: scale(1, 0.8); transform: scale(1, 0.8);}}
@keyframes barUp4{0%{-webkit-transform: scale(1, 0.8); transform: scale(1, 0.8);} 40%{-webkit-transform: scale(1, 0.8); transform: scale(1, 0.8);} 50%{-webkit-transform: scale(1, 0.4); transform: scale(1, 0.4);} 90%{-webkit-transform: scale(1, 0.4); transform: scale(1, 0.4);} 100%{-webkit-transform: scale(1, 0.8); transform: scale(1, 0.8);}}
@-webkit-keyframes barUp5{0%{-webkit-transform: scale(1, 1); transform: scale(1, 1);} 40%{-webkit-transform: scale(1, 1); transform: scale(1, 1);} 50%{-webkit-transform: scale(1, 0.2); transform: scale(1, 0.2);} 90%{-webkit-transform: scale(1, 0.2); transform: scale(1, 0.2);} 100%{-webkit-transform: scale(1, 1); transform: scale(1, 1);}}
@keyframes barUp5{0%{-webkit-transform: scale(1, 1); transform: scale(1, 1);} 40%{-webkit-transform: scale(1, 1); transform: scale(1, 1);} 50%{-webkit-transform: scale(1, 0.2); transform: scale(1, 0.2);} 90%{-webkit-transform: scale(1, 0.2); transform: scale(1, 0.2);} 100%{-webkit-transform: scale(1, 1); transform: scale(1, 1);}}
/*pageload*/
#pageload{z-index: 9999;}
.box-ct{display: -webkit-box;font-size: 60px;color: #f6f6f6;position: absolute;top: 50%;left: 50%;margin: -100px 0 0 -100px;-webkit-animation-name: MicroPopUp;-webkit-animation-duration: 1s;-webkit-animation-iteration-count: 1;-webkit-animation-fill-mode: both;-webkit-animation-timing-function: ease-in-out;-webkit-animation-duration: 250ms;}
.box-ct > .box-bd{-webkit-transform: translateZ(0);/* padding-top: 10px; */width: 200px;height: 200px;background-color: rgba(0,0,0,.7);-webkit-border-radius: 20px;}
.box-ct > .box-bd > div{width: 100%; height: 100%; display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-align: center; -webkit-box-pack: center;}
.box-ct > .box-bd .msg{font-size: 28px;color: #fff;margin-top: 16px;text-align: center;padding: 0 6px;overflow: hidden;max-height: 48px;}
@-webkit-keyframes spinnerRotateRight{0%{-webkit-transform: rotate(0deg);}8.32%{-webkit-transform: rotate(0deg);}8.33%{-webkit-transform: rotate(30deg);}16.65%{-webkit-transform: rotate(30deg);}16.66%{-webkit-transform: rotate(60deg);}24.99%{-webkit-transform: rotate(60deg);}25%{-webkit-transform: rotate(90deg);}33.32%{-webkit-transform: rotate(90deg);}33.33%{-webkit-transform: rotate(120deg);}41.65%{-webkit-transform: rotate(120deg);}41.66%{-webkit-transform: rotate(150deg);}49.99%{-webkit-transform: rotate(150deg);}50%{-webkit-transform: rotate(180deg);}58.32%{-webkit-transform: rotate(180deg);}58.33%{-webkit-transform: rotate(210deg);}66.65%{-webkit-transform: rotate(210deg);}66.66%{-webkit-transform: rotate(240deg);}74.99%{-webkit-transform: rotate(240deg);}75%{-webkit-transform: rotate(270deg);}83.32%{-webkit-transform: rotate(270deg);}83.33%{-webkit-transform: rotate(300deg);}91.65%{-webkit-transform: rotate(300deg);}91.66%{-webkit-transform: rotate(330deg);}100%{-webkit-transform: rotate(330deg);}}
.cm-loading-spinner{font-size: 100%; height: 1em; width: 1em; position: relative; -webkit-transform-origin: 0.5em 0.5em; -webkit-animation-name: spinnerRotateRight; -webkit-animation-duration: .8s; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear;}
.cm-loading-spinner > span{display: block; position: absolute; width: 0.1em; height: 0.25em; top: 0; -webkit-transform-origin: 0.05em 0.5em; -webkit-border-radius: 0.05em; border-radius: 0.05em; content: " "; left: 50%; margin-left: -0.05em;}
.cm-loading-spinner > span:before, .cm-loading-spinner > span:after{display: block; position: absolute; width: 0.1em; height: 0.25em; top: 0; -webkit-transform-origin: 0.05em 0.5em; -webkit-border-radius: 0.05em; border-radius: 0.05em; content: " ";}
.cm-loading-spinner > span.loading-top{background-color: rgba(255,255,255, 0.99);}
.cm-loading-spinner > span.loading-top:after{background-color: rgba(255,255,255, 0.9);}
.cm-loading-spinner > span.loading-left{background-color: rgba(255,255,255, 0.7);}
.cm-loading-spinner > span.loading-left:before{background-color: rgba(255,255,255, 0.8);}
.cm-loading-spinner > span.loading-left:after{background-color: rgba(255,255,255, 0.6);}
.cm-loading-spinner > span.loading-bottom{background-color: rgba(255,255,255, 0.4);}
.cm-loading-spinner > span.loading-bottom:before{background-color: rgba(255,255,255, 0.5);}
.cm-loading-spinner > span.loading-bottom:after{background-color: rgba(255,255,255, 0.35);}
.cm-loading-spinner > span.loading-right{background-color: rgba(255,255,255, 0.25);}
.cm-loading-spinner > span.loading-right:before{background-color: rgba(255,255,255, 0.3);}
.cm-loading-spinner > span.loading-right:after{background-color: rgba(255,255,255, 0.2);}
.cm-loading-spinner > span.loading-top{-webkit-transform: rotate(0deg);}
.cm-loading-spinner > span.loading-top:before{background-color: rgba(255,255,255, 0.15);}
.cm-loading-spinner > span.loading-right{-webkit-transform: rotate(90deg);}
.cm-loading-spinner > span.loading-bottom{-webkit-transform: rotate(180deg);}
.cm-loading-spinner > span.loading-left{-webkit-transform: rotate(270deg);}
.cm-loading-spinner > span:before{-webkit-transform: rotate(30deg);}
.cm-loading-spinner > span:after{-webkit-transform: rotate(-30deg);}
/*jackyScroll*/
.scroller_vertical,
.scroller_horizontal{border-radius: 3px;background-color: rgba(0,0,0,.35);-webkit-transition: opacity .5s; transition: opacity .5s;position: absolute;opacity: 0; margin-right:2px;}
.scroller_vertical{width: 3px;right: 0;}
.scroller_horizontal{height: 3px;bottom: 0;}
.vertical{overflow: hidden !important;}
/*validate*/
#validate .content{ background:#fff;width: 90%;border-radius:7px;position: fixed;top: 20%;left: 50%;margin-left: -45%;}
#validate h2{color:#555555; font-size:21px; text-align:center;margin: 25px 0;}
#validate .txt{color:#acacac;font-size: 16.8px; margin:5%}
#validate .inp{height:68px;margin: 19.6px 5%;}
#validate .inp input,#validate .inp img{ border-radius:26.6px; border:1px solid #dbdbdd;height:51px; width:45%;font-size: 18px;}
#validate .inp input{width: 45%; padding:0 2.5%;}
#validate .confirm{display:block;height: 56px;line-height: 56px; width:100%; border-top:1px solid #dbdbdd; font-size:21px; color:#44c114; text-align:center;position: relative;left: 0;bottom: 0;}
#validate a.confirm:active{background:#d9d9d9; border-radius:0 0 7px 7px;}
/*wrap*/
html,body{height:100%;}

/*hide*/
.hide{ display: none;}
/*背景*/
.bg01{position:relative;width:100%;height: 100%;max-width:640px;margin:0 auto;background: url(../images/bg01.jpg) center top #941e1e no-repeat;background-size:100% auto;}
.bg02{position:relative; width:100%; height:100%; max-width:640px; margin:0 auto;background: url(../images/bg02.jpg) center top #941e1e no-repeat;background-size:100% auto; }
.mid{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);}
/*close*/
.close{background: url(../images/close.png) center center no-repeat;background-size: 21px 21px;width: 100px;height: 100px;display:block;position:absolute;right: -6px;top: -6px;}
.cover{background: rgba(0,0,0,0.5); position:fixed;  width:100%; height:100%;top: 0px;left: 0;}
.bg_alert01{width: 75%;height: 20rem;position: fixed; top: 50%;left: 10%;margin-top: -10rem;}
.bg_alert02{width: 75%;height: 10rem;position: fixed; top: 50%;left: 10%;margin-top: -5rem;}
.bg_alert02 .content{height: 78%;width: 90%;padding: 8% 5% 0 5%;font-size: 1.3rem;color: #443600;text-align: center;}
.bg_alert03{width: 75%;height: 200px;position: fixed;top: 50%;left: 10%;margin-top: -5rem;}
.bg_alert03 .content{height: 150px;width: 90%;padding: 5% 5% 0 5%;/* font-size: 1.3rem; */color: #443600;text-align: center;}
.bg_alert03 .content h3{font-size: 28px;font-weight:bold;}
.bg_alert03 .content p{font-size: 24px;margin-top: 50px;}
.btn_alert{background:url(../images/btn_alert.png)  no-repeat; background-size:17.12rem 3.83rem; width: 17.12rem; height: 3.83rem; margin: 0 auto;font-size: 1.5rem;color: #fff;line-height: 3.83rem;text-align: center;font-weight: bold;}
.titleBox{padding:2.5%;background: #ffd144;border-radius: 15px;box-shadow: 0 0.4rem 0 #c5a135;}
.z999{z-index:999;}
/*index*/
.index .btn{width:90%;position:absolute;bottom: 50px;left: 5%;}
.index .btn a{width: 250px;}
.index .btn img{width: 100%;}
/*rule*/
.rule .content{  color: #555555;  height: 100%;}
.rule .content h2{font-size: 1.7rem; text-align:center;margin-top: 5%;margin-bottom:5%;}
.rule .content .txt{width: 90%;height: 67%;    padding:0 5%; font-size: 1.2rem;overflow-y: auto;position: absolute;left: 0;}
.rule .content p{ line-height: 1.8rem;}
/*flash*/
.swfcontent_container{ overflow: hidden;}
.flash{position: absolute;left: 50%;margin: 274px 0 0 -264px;}
.flash,.swfcontent,.swfcontent_container{width: 528px;height: 528px;display:block;}
.swfcontent_hover{width:100%; height:100%; background-size:100% 100%; -webkit-backface-visibility: hidden; backface-visibility: hidden; }
.swfcontent_start{width: 192px;height: 192px;}
.swfcontent_disable{width:192px; height:192px;}
.screenMiddle{position:absolute;top: 50%;left: 50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%);opacity:0;animation:.4s scale-to-normal .4s ease-out forwards;-ms-animation:.4s scale-to-normal .4s ease-out forwards;-webkit-animation:.4s scale-to-normal .4s ease-out forwards;}
/*弹框从小到大效果*/
@-webkit-keyframes scale-to-normal{0%{-webkit-transform:translate(-50%,-50%) scale(0.6);transform:translate(-50%,-50%) scale(0.6);opacity:0}100%{-webkit-transform:translate(-50%,-50%) scale(1);transform:translate(-50%,-50%) scale(1);opacity:1}}@-ms-keyframes scale-to-normal{0%{-ms-transform:translate(-50%,-50%) scale(0.6);transform:translate(-50%,-50%) scale(0.6);opacity:0}100%{-ms-transform:translate(-50%,-50%) scale(1);transform:translate(-50%,-50%) scale(1);opacity:1}}@keyframes scale-to-normal{0%{transform:translate(-50%,-50%) scale(0.6);opacity:0}100%{transform:translate(-50%,-50%) scale(1);opacity:1}}

/*win*/
.win .cover{background: url(../images/bg_cover.png) center center rgba(0,0,0,0.5) no-repeat; background-size:100% auto;}
.win .content{width: 414px;}
.win .content .txt{width:100%;height: 434px;background: url(../images/bg_win.png) center center no-repeat;background-size:100% auto;}
.win .content .txt .img{text-align:center;padding-top: 160px;}
.win .content .txt img{ width:70%; }
.win .content .txt .dec{width:80%;margin:0 auto;text-align:center;color:#4d3f12;font-size: 24px;margin-top:1rem;}
.win .content .txt .dec label{color:#eb2b2b;}
.win .btn a{border-radius: 1rem;display:block;width: 365px;height: 90px;line-height: 90px;color:#fff;text-align:center;font-size: 24px;margin:1rem auto 0 auto;}
.win .btn a.btn_receive{background:#eb2b2b;box-shadow: 0 0.4rem 0 #a91f1f;}
.win .btn a.btn_share{background:#10a9ec;box-shadow: 0 0.4rem 0 #0c81b4;}
/*login*/
.login .content{position:relative;top: 316px;left:0;}
.login .inp01,.login .inp02{border:1px solid #4d0f0f;border-radius:4px;height: 78px;width:85%;margin:0 auto;margin-bottom: 45px;background: #fff;position:relative;}
.login .inp01 select{border-radius:4px;height:100%;width:100%;border:none;color:#555555;font-size: 26px;text-indent: 20px;background: #fff;}
.login .inp01:after{content:'';width:0;height:0;border-left:8px solid transparent;border-right:8px solid transparent;border-top:8px solid #4d0f0f;position:absolute;right:14px;top: 32px;}
.login .inp02{background:#ffd11a; color:#4d0f0f; }
.login .inp02 label{font-size: 26px;height: 100%;width: 100px;}
.login .inp02 input{border:none;border-radius:4px;height:100%;background:#ffd11a;display: block;padding: 0 14px;font-size: 26px;}
.login .btn{ width:85%; margin:0 auto;}
.login .txt01{text-align:center;font-size:24px;text-decoration:underline;margin: 20px 0;}
.login .txt01 a{ text-align:center; color:#ffd11a; }
.login .txt02{color:#fff;padding: 4%;font-size: 20px;}