.e_layout {
  width: 100%;
  max-width: 770px;
  min-width: 320px;
  margin: 0 auto;
  background-color: #F5F5F5;
}
.e_layout .e_head {
  height: 2.3rem;
  line-height: 2.3rem;
  background-color: #F1F1F1;
  text-align: center;
  border-bottom: 1px solid #cecece;
}
.e_layout .e_head h1 {
  font-size: 1rem;
  font-weight: normal;
}
.e_layout .e_adver {
  height: 3rem;
  background-image: url("../img/benner_bg.png");
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.e_layout .e_adver .adverBtn {
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}
.e_layout .e_adver .adverBtn > button,
.e_layout .e_adver .adverBtn a {
  width: 80%;
  height: 2rem;
  color: #24AEE3;
  font-size: 0.8rem;
  border-radius: 0.3rem;
  background-color: #fff;
}
.e_layout .e_adver .adverBtn > button:first-of-type,
.e_layout .e_adver .adverBtn a:first-of-type {
  margin-right: 0.5rem;
}
.e_layout .e_adver .adverBtn > a {
  text-align: center;
  line-height: 2rem;
}
.e_layout .e_query {
  height: 12rem;
  background: linear-gradient(to right, #62CAFC, #0CACF5);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.e_layout .e_query .e_img {
  margin-bottom: 2rem;
}
.e_layout .e_query .e_img > img {
  width: 35%;
}
.e_layout .e_query .e_entry {
  width: 90%;
  height: 2.3rem;
}
.e_layout .e_query .e_entry .e_box {
  width: 70%;
  height: 100%;
  position: relative;
}
.e_layout .e_query .e_entry .e_box > input {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  padding-left: 0.5rem;
  font-size: 0.8rem;
}
.e_layout .e_query .e_entry .e_box > input::-webkit-input-placeholder {
  color: #9B9C9C;
  font-size: 0.8rem;
}
.e_layout .e_query .e_entry .e_box > i {
  color: #8A8A8A;
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  right: 0.3rem;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.e_layout .e_query .e_entry > button {
  width: 25%;
  height: 100%;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  border-radius: 0.3rem;
  background-color: #FBD922;
  font-size: 0.9rem;
}
.e_layout .e_banner {
  text-align: center;
  padding: 0 1rem;
  background-color: #fff;
}
.e_layout .e_banner img {
  width: 90%;
  vertical-align: middle;
}
.e_layout .theBall {
  background-color: #fff;
}
.e_layout .theBall ul {
  padding: 0.5rem;
}
.e_layout .theBall ul li {
  width: 33.33%;
  float: left;
}
.e_layout .theBall ul li a {
  display: block;
  text-align: center;
}
.e_layout .theBall ul li a img {
  width: 2rem;
}
.e_layout .theBall ul li a p {
  margin-top: 0.2rem;
  color: #000;
  font-size: 0.7rem;
}
.e_layout .e_list {
  background-color: #fff;
}
.e_layout .e_list > ul {
  display: flex;
  justify-content: space-around;
}
.e_layout .e_list > ul > li {
  flex: 1;
  text-align: center;
  margin: 0.4rem 0;
}
.e_layout .e_list > ul > li > i {
  color: #38A91D;
  font-size: 1.5rem;
}
.e_layout .e_list > ul > li > i.icon-shizhong {
  color: #FF9B00;
}
.e_layout .e_list > ul > li > p {
  font-size: 0.8rem;
  margin-top: 0.1rem;
}
.e_layout .e_list > ul > li:first-of-type {
  border-right: 1px solid #ECECEC;
}
.e_layout .e_info {
  margin-top: 0.5rem;
}
.e_layout .e_info .e_show {
  padding: 0.5rem;
}
.e_layout .e_info .e_show .e_tit {
  background-color: #fff;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
.e_layout .e_info .e_show .e_tit > a {
  display: block;
}
.e_layout .e_info .e_show .e_tit > a .boxExpre {
  width: 100%;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.e_layout .e_info .e_show .e_tit > a .boxExpre > div {
  width: 50%;
  display: flex;
  align-items: center;
}
.e_layout .e_info .e_show .e_tit > a .boxExpre > div > img {
  width: 15%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.e_layout .e_info .e_show .e_tit > a .boxExpre > div > span {
  font-size: 0.8rem;
}
.e_layout .e_info .e_show .e_tit > a .boxExpre > span {
  color: #A7A7A7;
  font-size: 0.7rem;
}
.e_layout .e_info .e_show .e_tit > a .numbersExpre {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #F6F6F6;
}
.e_layout .e_info .e_show .e_tit > a .numbersExpre > p {
  color: #707070;
  font-size: 0.7rem;
}
.e_layout .e_info .e_show .e_tit > a .numbersExpre > p:first-of-type {
  color: #727272;
  margin-bottom: 1rem;
}
.e_layout .e_jump {
  z-index: 999;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.e_layout .e_jump .jumBox {
  width: 75%;
  background-color: #fff;
  text-align: center;
  padding: 1rem 0 0;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
.e_layout .e_jump .jumBox > h4 {
  font-size: 1.1rem;
  font-weight: normal;
  margin-bottom: 1rem;
}
.e_layout .e_jump .jumBox > p {
  font-size: 0.9rem;
  color: #939393;
  margin-bottom: 1rem;
}
.e_layout .e_jump .jumBtn {
  border-top: 1px solid #F0F0F0;
  display: flex;
}
.e_layout .e_jump .jumBtn > button,
.e_layout .e_jump .jumBtn a {
  flex: 1;
  height: 2.3rem;
  font-size: 0.8rem;
  background-color: #fff;
  border-bottom-left-radius: 0.3rem;
}
.e_layout .e_jump .jumBtn > a {
  line-height: 2.3rem;
  color: #039BE5;
  border-left: 1px solid #F0F0F0;
  border-bottom-right-radius: 0.3rem;
}
.e_layout .prompt {
  width: 8rem;
  height: 2rem;
  line-height: 2rem;
  display: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: fixed;
  top: 7.5rem;
  left: 50%;
  z-index: 999999;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  border-radius: 0.5rem;
}
.e_layout .e_popup {
  width: 100%;
  background-color: #EDEDED;
  display: none;
  text-align: center;
  overflow: hidden;
  z-index: 99;
  position: fixed;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.e_layout .e_popup > ul > li {
  padding: 0.5rem 0;
  font-size: 0.9rem;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
}
.e_layout .e_popup > ul > li:last-of-type {
  border: none;
}
.e_layout .e_popup > p {
  padding: 0.5rem 0;
  font-size: 0.9rem;
  margin-top: 0.5rem;
  background-color: #fff;
}
.e_layout .layer_mask {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 9;
}
.e_layout .layer_mask .layer_box {
  position: fixed;
  width: 80%;
  top: 20%;
  left: 50%;
  margin-left: -40%;
  z-index: 99;
  text-align: center;
}
.e_layout .layer_mask .layer_box > img {
  width: 100%;
}
.e_layout .layer_mask .layer_box > img.circle {
  width: 100%;
  position: absolute;
  top: -10%;
  z-index: -1;
  animation: animate_rotate 5s infinite linear;
  -webkit-animation: animate_rotate 5s infinite linear;
  -moz-animation: animate_rotate 5s infinite linear;
  -o-animation: animate_rotate 5s infinite linear;
  -ms-animation: animate_rotate 5s infinite linear;
}
.e_layout .layer_mask .layer_box > img.receive {
  display: block;
  width: 9.4rem;
  margin: 1.3rem auto 0 auto;
  animation: enlarge 0.8s infinite alternate linear;
  -webkit-animation: enlarge 0.8s infinite alternate linear;
  -moz-animation: enlarge 0.8s infinite alternate linear;
  -o-animation: enlarge 0.8s infinite alternate linear;
  -ms-animation: enlarge 0.8s infinite alternate linear;
}
.e_layout .layer_mask .layer_box .close_layer {
  width: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}
.e_layout .xuanfu {
  display: none;
  position: fixed;
  right: 8px;
  bottom: 65px;
  animation: music-move 0.7s 0.5s infinite alternate ease-in-out;
}
.e_layout .xuanfu > img {
  width: 39px;
}
.e_layout .e_bottom {
  height: 2.3rem;
  line-height: 2.3rem;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.e_layout .e_bottom > button,
.e_layout .e_bottom > a {
  width: 50%;
  height: 100%;
  float: left;
  color: #fff;
  font-size: 15px;
}
.e_layout .e_bottom > button {
  background-color: #FF5B3A;
}
.e_layout .e_bottom > a {
  background-color: #FFA000;
}
.e_layout .securityBox {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.e_layout .securityBox > img {
  width: 100%;
}
.e_layout .ios_layer {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 120;
}
.e_layout .ios_layer > .ios_box {
  position: absolute;
  width: 85%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.e_layout .ios_layer > .ios_box > .close_ios {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: -55px;
}
.e_layout .ios_layer > .ios_box > div {
  width: 100%;
  height: 16rem;
  background: url("https://img.bazhuay.com/common/images/2018/10/layer_20181019154538.png") no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  text-align: center;
}
.e_layout .ios_layer > .ios_box > div > h3 {
  color: #612700;
  font-size: 22px;
  font-weight: 600;
  padding-top: 0.5rem;
}
.e_layout .ios_layer > .ios_box > div > p {
  color: #612700;
  font-size: 22px;
}
.e_layout .ios_layer > .ios_box > button {
  width: 75%;
  height: 43px;
  background-color: #FF8A40;
  color: #fff;
  font-size: 19px;
  border: none;
  margin: 20px auto 0 auto;
  display: block;
  border-radius: 6px;
}
.e_layout .customerPopup {
  display: none;
  z-index: 999999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.e_layout .customerPopup .customerBox {
  width: 15rem;
  background-image: url("https://img.bazhuay.com/common/images/2018/09/cusbgs_20180905105438.png?imageView2/2/w/100");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 1rem;
  overflow: hidden;
}
.e_layout .customerPopup .customerBox .cusTit {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  background-image: url("https://img.bazhuay.com/common/images/2018/09/cusTit_20180905105536.png?imageView2/2/w/100");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.e_layout .customerPopup .customerBox .cusTit h3 {
  color: #fff;
  font-size: 1rem;
  font-weight: normal;
}
.e_layout .customerPopup .customerBox .cusCont {
  margin-top: 1rem;
}
.e_layout .customerPopup .customerBox .cusCont .cusText {
  color: #000;
  font-size: 0.8rem;
}
.e_layout .customerPopup .customerBox .cusCont .cusText .serweixin {
  padding: 0 1rem;
  text-align: left;
  margin-bottom: 0.5rem;
  background-color: #fff;
}
.e_layout .customerPopup .customerBox .cusCont .cusText .serweixin .yptms {
  height: 0.6rem;
  background-color: #FFD1C5;
  font-size: 0.8rem;
  font-weight: bold;
  padding-left: 0.3rem;
}
.e_layout .customerPopup .customerBox .cusCont .proces {
  width: 9.5rem;
  margin-top: 0.5rem;
}
.e_layout .customerPopup .customerBox .cusCont a {
  width: 10rem;
  height: 2rem;
  line-height: 2rem;
  display: inline-block;
  border-radius: 5rem;
  color: #fff;
  font-size: 0.8rem;
  background-color: #FF3B53;
  margin-top: 0.8rem;
}
.e_layout .customerPopup .customerBox .closeCustomer {
  width: 1.3rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.animate_layer_box {
  animation: showPopup 0.8s forwards;
  -webkit-animation: showPopup 0.8s forwards;
  -moz-animation: showPopup 0.8s forwards;
  -o-animation: showPopup 0.8s forwards;
  -ms-animation: showPopup 0.8s forwards;
}
@keyframes animate_box {
  from {
    top: -40%;
    left: 50%;
    margin-left: -40%;
    width: 80%;
    height: 50%;
    transform: scale(0.1);
    opacity: 0;
  }
  to {
    width: 80%;
    height: 50%;
    left: 50%;
    margin-left: -40%;
    top: 20%;
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes enlarge {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes animate_rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/*200元红包摇一摇*/
@keyframes music-move {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  33% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  66% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes showPopup {
  0% {
    -webkit-transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
  }
}
.ell2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.flex {
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.flex-column {
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
}
.flex-sb {
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.goods {
  width: 100%;
  padding: 0 0.64rem 0rem 0.64rem;
  background: #fff;
}
.goods .item {
  width: 100%;
  height: 10.773333rem;
  padding: 0.64rem 0;
  border-top: 0.053333rem solid #e9e9e9;
}
.goods .img {
  width: 9.493333rem;
  height: 9.493333rem;
  background: #D8D8D8;
  border-radius: 0.213333rem;
  display: block;
}
.goods .content {
  width: 9.493333rem;
  height: 9.493333rem;
  padding: 0.533333rem 0 0.64rem 0.64rem;
}
.goods .content .top .title {
  font-size: 0.746666rem;
  color: #000000;
  letter-spacing: 0;
  font-weight: 600;
}
.goods .content .top .buy-num {
  font-size: 0.586666rem;
  color: #909090;
  margin-top: 0.426666rem;
}
.goods .content .top .tag {
  font-size: 0.586666rem;
  margin-top: 0.266666rem;
}
.goods .content .top .tag .span {
  height: 0.586666rem;
  font-size: 0.586666rem;
  color: #fff;
  letter-spacing: 0;
  background: #4ABC70;
  border-radius: 1px;
  padding: 0 0.213333rem;
}
.goods .content .top .tag .span1 {
  background: #F09977;
}
.goods .content .bottom .price-view .price1 {
  font-size: 0.693333rem;
  color: #434343;
  letter-spacing: 0;
}
.goods .content .bottom .price-view .price2 {
  font-size: 26px;
  color: #F04D4C;
  letter-spacing: 0;
  margin-left: 0.266666rem;
}
.goods .content .bottom .buy-btn {
  margin-top: 0.32rem;
  background: #F04D4C;
  border: 1px solid #F20C27;
  border-radius: 0.106666rem;
  font-size: 0.693333rem;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 0.693333rem;
  width: 8.746666rem;
  height: 1.92rem;
  line-height: 1.92rem;
}
.modal-view {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  display: none;
}
.modal-save {
  width: 14rem;
  border-radius: 0.32rem;
  font-size: 0.693333rem;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 999;
  background: transparent;
}
.modal-save > .img {
  width: 14rem;
  border-radius: 0.32rem;
}
.modal-save > .btn-save {
  display: block;
  margin: 1.066666rem auto 0;
  width: 12rem;
  height: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  font-size: 1.066666rem;
  background: #ff6633;
  color: #fff;
  border-radius: 1.2rem;
}
