@import url('./base.css');

body {
    background: #f7f7f7;
}

.blank-view {
    width: 750px;
    height: 88px;
    background: transparent;
}

/*  */
#tabbar-view {
    width: 100%;
    height: 88px;
    background: #fff;
    position: fixed;
    left: auto;
    right: auto;
    z-index: 9;
    top: 0;
    border-bottom: 1px solid #c7c7c7;
}

.tabbar {
    width: 100%;
    height: 88px;
    background: #fff;
    position: fixed;
    left: auto;
    right: auto;
    z-index: 9;
    top: 0;
}

.tabbar-for {
    width: 100%;
    height: 88px;
    background: #fff;
}

.tabbar-item {
    height: 88px;
    line-height: 88px;
    font-size: 30px;
    color: #474747;
    letter-spacing: 0;
    text-align: center;
}

.tabbar-item-on {
    color: #3d6fff;
    position: relative;
}

.tabbar-item-on::before {
    content: " ";
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    width: 54px;
    height: 6px;
    background: #3d6fff;
    border-radius: 3px;
}

.tabbar-long {
    display: -webkit-box;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    height: 88px;
    background: #fff;
    position: sticky;
    left: auto;
    right: auto;
    z-index: 9;
    top: 0;
}

.tabbar-for-long {
    width: 174px;
    height: 88px;
    background: #fff;
}

/*  */
.swiper,
.swiper-item,
.swiper-img {
    width: 750px;
    height: 300px;
}

/*  */
.tab {
    width: 750px;
    height: 88px;
    position: fixed;
    left: auto;
    right: auto;
    bottom: 0;
    background: #f7f7fa;
    border-top: 2px solid #c7c7c7;
    z-index: 199;
}

.tab .tab-item {
    width: 375px;
    height: 88px;
}

.tab .tab-item > img {
    width: 48px;
    height: 48px;
}

.tab .tab-item > span {
    font-size: 24px;
    color: #999;
}

/*  */
.swiper,
.swiper-item,
.swiper-img {
    width: 750px;
    height: 300px;
}

.list {
    width: 100%;
    margin: 0px 0px;
}

.page-end {
    margin: 0 0 100px;
}

.list .list-item {
    width: 100%;
    height: 200px;
    margin-bottom: 1px;
    box-sizing: border-box;
    padding: 30px 24px;
    border-bottom: 0.5px solid #f6f6f6;
    background: #fff;
}

.list .list-item .img-view,
.img-view .img {
    width: 250px;
    height: 140px;
}

.list .list-item .img-view .type-img,
.swiper-item .type-img {
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.type-img-s {
    width: 60px !important;
    height: 60px !important;
}

.list .list-item .desc-view {
    width: 408px;
    height: 140px;
    margin-right: 20px;
}

.list .list-item .desc-view .title {
    font-size: 32px;
    color: #474747;
    letter-spacing: 0.4px;
    line-height: 51px;
    font-weight: 600;
}

.list .list-item .desc-view .hot-tag {
    display: inline-flex;
    padding: 0 8px;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
    background: #da2c30;
    border-radius: 3px;
    font-size: 22px;
    color: #fff;
    letter-spacing: 0.34px;
}

.list .list-item .desc-view .info {
    font-size: 24px;
    color: #999;
    letter-spacing: 0.37px;
}

.more {
    background: #fff;
    font-size: 16px;
    color: #999;
    text-align: center;
    padding: 16px 0;
}

.no-more {
    font-size: 22px;
    color: #999;
    background: #f7f7f7;
    text-align: center;
    padding: 16px 0;
    display: none;
}
