<!DOCTYPE html >
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <meta http-equiv="Cache-Control" content="max-age=300"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>望舌问膳</title>
    <link rel="stylesheet" href="./css/regimen.css?v=1.0.1">
    <script src="./js/jackyViewport.js"></script>
    <script src="https://static.8guess.com/js/zepto.min.js"></script>
    <link rel="stylesheet" href="https://static.8guess.com/js/swiper.min.css">
</head>

<body>

<!---->
<div class="blank-view"></div>

<!-- tab -->
<div flex="main:left cross:center" class="tab">
    <a flex="dir:top main:center cross:center" class="tab-item" href="./index.html">
        <img src="./images/tab2.png" alt="">
        <span>食谱</span>
    </a>
    <div flex="dir:top main:center cross:center" class="tab-item">
        <img src="./images/tab3on.png" alt="">
        <span style="color:#3d6fff">养生</span>
    </div>
</div>

<!-- tabBar -->
<div id="tabbar-view">
    <!--tabBar模板-->
    <script type="text/template" id="tabBar">
        {{if arrLen(tabList)<=4}}
        <div flex="main:left cross:center" class="tabbar">
            {{each tabList as item index}}
            <div class="tabbar-for click-tab" flex="main:center cross:center" data-index="{{index}}"
                 data-id="{{item.id}}">
                <div class="tabbar-item ">
                    {{item.cname}}
                </div>
            </div>
            {{/each}}
        </div>
        {{else}}
        <!-- length>4 -->
        <div flex="main:left cross:center" class="tabbar-long">
            {{each tabList as item index}}
            <div class="tabbar-for-long click-tab" flex="main:center cross:center" data-index="{{index}}"
                 data-id="{{item.id}}">
                <div class="tabbar-item">
                    {{item.cname}}
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </script>
</div>

<!-- Banner -->
<div class="swiper-container" id="swiperContainer">
    <div class="swiper-wrapper" id="swiperWrapper">
        <!--swiper模板-->
        <script type="text/template" id="swiperBanner">
            {{each swiperList as item index}}
            <div class="swiper-slide swiper-item click-swiper-item" data-detailid="{{item.id}}">
                <img class="swiper-img" src="{{item.faceUrl}}">
            </div>
            {{/each}}
        </script>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>


<!-- article -->
<div flex="main:justify cross:center" class="food-view list flex-wrap" id="articleListView"></div>
<!-- 文章列表模版 -->
<script type="text/template" id="articleList">
    {{each articleList as item index}}
    <div flex="" class="list-item">
        <div flex="dir:top main:justify" class="desc-view click-article" data-id="{{item.id}}">
            <div class="title ell2">{{item.title}}</div>
            <div class="info">
                {{if item.isHot == true}}
                <span class="hot-tag">热文</span>
                {{/if}}
                <span class="time">{{formatDate(item.updatetime)}}</span>
                <span class="view">&nbsp;&nbsp;阅读:{{item.readCount}}</span>
            </div>
        </div>
        <div class="img-view por">
            <img class="img" src="{{item.faceUrl}}" alt="">
            {{if item.type==2||item.type==3}}
            <img class="type-img type-img-s" src="./images/play-gray.png">
            {{/if}}
        </div>
    </div>
    {{/each}}
</script>

<!-- 到底了 -->
<div class="no-more">—— 没有更多了 ——</div>

<div class="blank-view"></div>
</body>

</html>

<script type="text/javascript" src="https://static.8guess.com/js/swiper.min.js"></script>
<script type="text/javascript" src="https://static.8guess.com/js/template.js"></script>
<script src="./js/jacky.js"></script>
<script src="./js/base.js"></script>
<script type="text/javascript">
    var page = {
        preCate: 0,
        pickPhysique: "",
        moreLoading: true,//加载数据中
        articleParams: {
            isTop: 0,
            pageSize: 20,
            pageNum: 1,
            channelId: ''
        }
    }

    Jacky.util.landscape({color: '#e02e24'});

    $(function () {
        // 获取分类
        getCate()

        // 滚动加载数据
        $(window).scroll(function () {
            var b = $(window).scrollTop(),
                c = $(document).height() - $(window).height()
            if (c - b < 300 && !page.moreLoading) {
                closeLoad()
                console.debug('加载中...')
                page.articleParams.pageNum += 1
                getArticle()
            }
        });

    });


    // 获取分类
    function getCate() {
        $.ajax({
            url: config.baseUrl + "/tongue/intf/tongue/getChannels.jsp",
            type: "POST",
            success: function (res) {
                console.debug('类目==', res)
                var data = res.data
                data.sort(function (a, b) {
                    return a.seqNum - b.seqNum;
                });
                var html = template('tabBar', {tabList: data})
                $("#tabbar-view").append(html);
                $('.tabbar-item').first().addClass('tabbar-item-on')
                page.articleParams.channelId = data[0].id
                getArticle()
                getBanner()

            }
        });
    }

    // 获取Banner
    function getBanner() {
        var params = {
            channelId: page.articleParams.channelId,
            pageSize: 10,
            pageNum: 1,
            isTop: 1
        }
        $.ajax({
            url: config.baseUrl + "/tongue/intf/tongue/getArticles.jsp",
            type: "POST",
            data: params,
            success: function (res) {
                console.debug('Banner==', res)
                var data = res.data
                if (!data.length) {
                    return 0
                }
                var html = template('swiperBanner', {swiperList: data});
                $("#swiperWrapper").empty()
                $("#swiperWrapper").append(html);
                var banner = new Swiper('#swiperContainer', {
                    loop: 4000,
                    autoplay: true,
                    pagination: {
                        el: '.swiper-pagination',
                    },
                    lazy: {
                        loadPrevNext: true,
                    }
                });
            }
        })
    }

    // 获取文章
    function getArticle() {
        Jacky.util.pageLoad.show();
        $.ajax({
            url: config.baseUrl + "/tongue/intf/tongue/getArticles.jsp",
            type: "POST",
            data: page.articleParams,
            success: function (res) {
                console.debug('文章==', res)
                Jacky.util.pageLoad.remove();
                var data = res.data
                if (res.data.length > 0) {
                    openLoad()
                    var html = template('articleList', {articleList: data});
                    $("#articleListView").append(html);
                } else {
                    $('.no-more').show()
                    page.articleParams.pageNum -= 1
                }
            }
        });
    }


    // 切换tabbar
    $('#tabbar-view .click-tab').live('click', function (e) {
        if (page.preCate == $(this).attr("data-index")) {
            return 0;
        }

        console.debug($(this).attr("data-index"), $(this).attr("data-id"))
        page.preCate = $(this).attr("data-index")
        page.articleParams.channelId = $(this).attr("data-id")
        $(this).find('.tabbar-item').addClass('tabbar-item-on')
        $(this).siblings().find('.tabbar-item').removeClass('tabbar-item-on')

        $('.no-more').hide()
        openLoad()
        $("#articleListView").empty()
        getArticle()
        getBanner()
    })

    // 查看详情
    $('#articleListView .click-article').live('click', function (e) {
        window.location.href = './regimenInfo.html?id=' + $(this).attr("data-id")
    })

    // 查看详情   banner
    $('#swiperWrapper .click-swiper-item').live('click', function (e) {
        if ($(this).attr("data-detailid")) {
            window.location.href = './regimenInfo.html?id=' + $(this).attr("data-detailid")
        }
    })

    // 开启加载更多
    function openLoad() {
        page.moreLoading = false
    }

    // 关闭加载更多
    function closeLoad() {
        page.moreLoading = true
    }


</script>
