<!DOCTYPE html >
<html>

<head>
    <meta charset="UTF-8">
    <meta name="author" content="name=Jacky"/>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="This is my page">
    <meta http-equiv="Cache-Control" content="max-age=300"/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="format-detection" content="email=no"/>
    <title>望舌问膳-养生详情</title>
    <link rel="stylesheet" href="./css/regimenInfo.css?v=1.0.1">
    <script src="./js/jackyViewport.js"></script>
    <script src="https://static.8guess.com/js/zepto.min.js"></script>
    <link rel="stylesheet" href="https://static.8guess.com/js/swiper.min.css">
</head>
<body>

<div id="info-view">
</div>

<!-- content -->
<div class="vhtml vhtml-fs">
    <div id="html-view"></div>
</div>

<!-- article -->
<div class="article-view" id="article-view">
</div>

<!-- comment -->
<div class="comment-view" id="comment-view">
</div>

<!-- back -->
<div flex="main:center cross:center" class="back" id="back">
    <i class="iconfont  icon-xiangyou icon-left icon-left-fs"></i>
</div>

</body>
</html>

<!-- info模板 -->
<script type="text/template" id="info">
    {{if infoData.type==2}}
    <div>
        <video controls="controls" class="video" src="{{infoData.videoUrl}}"></video>
    </div>
    {{/if}}
    {{if infoData.type==3}}
    <div>
        <audio controls="controls" class="video" src="{{infoData.audioUrl}}"></audio>
    </div>
    {{/if}}
    <div class="pad-view bgfff">
        <div class="article">
            <div class="article-title ell2">{{infoData.title}}</div>
            <div class="article-info">
                <span>{{formatDate(infoData.updatetime)}}&nbsp;</span>
                <span>阅读：{{infoData.readCount}}&nbsp;</span>
                <span>点赞：{{infoData.likeCount}}</span>
            </div>
        </div>
    </div>
</script>

<!-- article模板 -->
<script type="text/template" id="article">
    <div class="article-recommend">
        <div flex="main:justify cross:center" class="line">
            <div flex="cross:center" class="left">相关推荐</div>
            <div flex="cross:center" class="right" id="btn-regimen">
                查看更多&nbsp;
                <i class="iconfont  icon-xiangyou"></i>
            </div>
        </div>
    </div>
    {{each list as item index}}
    <div flex="" class="list-item click-article" data-id="{{item.id}}">
        <div flex="dir:top main:justify" class="desc-view">
            <div class="title ell2">{{item.title}}</div>
            <div class="info">
                {{if item.isHot == true}}
                <span v-if="item.isHot" class="hot-tag">热文</span>
                {{/if}}
                <span class="time">{{formatDate(item.updatetime)}}</span>
                <span class="view">&nbsp;&nbsp;&nbsp;阅读：{{item.readCount}}</span>
            </div>
        </div>
        <div class="img-view por">
            <img class="img" src="{{item.faceUrl}}" alt="">
            {{if item.type==2||item.type==3}}
            <img class="type-img type-img-s" src="./images/play-gray.png">
            {{/if}}
        </div>
    </div>
    {{/each}}
</script>

<!-- comment模板 -->
<script type="text/template" id="comment">
    {{each list as item index}}
    <div flex="" class="comment">
        <div class="img">
            <img src="{{item.user.avatarurl}}" alt="">
        </div>
        <div class="info">
            <div class="name">{{item.user.nickname}}</div>
            <div class="time">{{item.createTime|formatT}}</div>
            <div class="content">{{item.content}}</div>
        </div>
    </div>
    {{/each}}
</script>

<script type="text/javascript" src="https://static.8guess.com/js/swiper.min.js"></script>
<script type="text/javascript" src="https://static.8guess.com/js/template.js"></script>
<script src="./js/jacky.js"></script>
<script src="./js/base.js"></script>
<script type="text/javascript">
    var page = {
        id: '',
        preCate: 0,
        pickPhysique: "",
        moreLoading: true,//加载数据中
    }

    Jacky.util.landscape({color: '#e02e24'});

    $(function () {
        page.id = GetUrlParam('id')
        console.debug('id==', page.id)

        // 获取详情
        getInfo()
    });


    // 获取详情
    function getInfo() {
        $.ajax({
            url: config.baseUrl + "/tongue/intf/tongue/getArticlesInfo.jsp",
            type: "POST",
            data: {aId: page.id},
            success: function (res) {
                console.debug('获取详情==', res)
                var data = res.data
                var html = template('info', {infoData: data})
                $("#info-view").append(html);
                if (data.type == 1) {
                    var tempContent = data.content.replace(/line-height: (2|1.75)em;/g, '');
                    $("#html-view").html(tempContent)
                }
                getCommentList(data.id)
                getArticleList(data.channel.id)
            }
        });
    }

    //获取文章列表
    function getArticleList(channelId) {
        $.ajax({
            url: config.baseUrl + "/tongue/intf/tongue/getArticles.jsp",
            type: "POST",
            data: {
                channelId: channelId,
                pageSize: 10,
                pageNum: 1,
                isTop: 0
            },
            success: function (res) {
                console.debug("获取文章列表==", res)
                if (res.data.length > 0) {
                    var html = template('article', {list: res.data})
                    $("#article-view").append(html);
                }
            }
        });
    }

    // 评论相关
    //  act(add（新增）, list(列表），like(点赞）
    function getCommentList(id) {
        var params = {
            act: "list",
            userId: "U0013d4509ceb00d4245834c8bc9adc89622",
            aId: id,
            pageSize: 20,
            pageNum: 1
        };
        $.ajax({
            url: config.baseUrl + "/tongue/intf/tongue/comment.jsp",
            type: "POST",
            data: params,
            success: function (res) {
                console.debug("评论相关==", res)
                if (res.data.length > 0) {
                    var html = template('comment', {list: res.data})
                    $("#comment-view").append(html);
                }
            }
        });
    }

    // 查看详情
    $('#article-view .click-article').live('click', function (e) {
        window.location.href = './regimenInfo.html?id=' + $(this).attr("data-id")
    })

    // 查看更多
    $('#article-view #btn-regimen').live('click', function (e) {
        window.location.href = './regimen.html'
    })

    //  返回
    $('#back').on('click', function () {
        var referrer = document.referrer
        if (referrer === '') {
            window.location.href = './regimen.html'
        } else {
            history.go(-1)
        }
    })


</script>
